@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutAnonymous";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-success text-light">
            <h5 class="text-center">Olvide mi Contraseña</h5>
        </div>
        <div class="card-body">

            @if (ViewBag.HasError != null && ViewBag.HasError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @foreach (var error in ViewBag.Errors)
                    {
                        <p class="text-danger">@error</p>
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            }

            <form asp-controller="Login" asp-action="ForgotPassword" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Usuario:</label>
                    <input class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-success">Enviar Correo</button>

                    <a asp-controller="Login" asp-action="Index" class="btn btn-outline-secondary me-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>